<style>
* {
   font-family:  ‘Droid Sans’, sans-serif;
}


body,td,th,footer {
  font-family: "Droid Sans";
  font-size: 14pt;
  font-weight: bold;
}
body, footer {
opacity:  1.0;
margin:  auto;
}

h1 {
	margin: 10px 10px;
	border-style:  solid;
}

/*.navigation {
	text-align: center;
  	width: 90%;
  	display:  inline-block;
  	position: relative;
	padding: 5px;
	margin:  5px auto;
	
} */



img {
	border-style:  solid;
}

footer {
	text-align: center;
}


@media (max-width:  1100px) {
	.image5 {
	position: relative;
    display: inline-block;
    /*float: left; */
    margin: 20px auto;
    left:  -100px; 
    padding:  2px;
	}
	img {
	  border-style:  solid;
	  position:  relative;
	  display:  inline-block;
	  float:  left;
	  margin:  20px auto;
	  vertical-align: text-bottom;
	  z-index: 1;

	}

	p {
   	  display:  inline-block;
   	  float:  right;
   	  margin: 10px 20px;
   	  position:  relative;
   	  padding:  20px;
    } 

    footer, h4 {
   	  display:  inline-block;
   	  text-align: center;
   	  padding-right:  5px;
   	  margin: 10px 40px;
   	  position: relative;
   	
    } 


}

@media (max-width:  950px) {
	.image5 {
	position: relative;
    display: inline-block;
    /*float: left; */
    margin: 20px 70px;
    left:  -100px;  
    padding:  2px;
	}	


	img {
	  border-style:  solid;
	  position:  relative;
	  display:  inline-block;
	  float:  left;
	  margin:  20px auto;
	  vertical-align: text-bottom;
	  z-index: 1;

	}

	p {
   	  display:  inline-block;
   	  float:  right;
   	  margin: 10px 20px;
   	  position:  relative;
   	  padding:  20px;
    } 

    footer, h4 {
   	  display:  inline-block;
   	  text-align: center;
   	  padding-right:  30px;
   	  margin: 20px 60px;
   	  position:  relative; 
   	
    } 


}


@media (max-width:  800px) {
	.image, .image2, .image3, .image4 {
	position: relative;
    display: inline-block;
    float: left;
    margin: 30px auto;
    left:  100px; 
    padding:  2px;	
	}




	.image5 {
	position: relative;
    display: inline-block;
    /*float: left; */
    margin: 20px 70px;
    left:  -100px; 
    padding:  2px;
	}	


	img {
	  border-style:  solid;
	  position:  relative;
	  display:  inline-block;
	  float:  left;
	  margin:  20px auto;
	  vertical-align: text-bottom;
	  z-index: 1;

	}

	p {
   	  display:  inline-block;
   	  float:  right;
   	  margin: 10px 20px;
   	  position:  relative;
   	  padding:  20px;
    } 

    footer, h4 {
   	  display:  inline-block; 
   	  text-align: center;
   	  padding-right: 50px;
   	  margin: 20px 60px;
   	  position:  relative; 
   	
    } 


}




</style>